.analysisContainer {
    text-align: center;
    padding: 2rem;
  }
  
  .buttonContainer {
    margin: 40px 0;
  }
  
  .analysisButton {
    padding: 16px 32px;
    background-color: rgba(116, 170, 250, 0.97);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    margin: 15px auto;
    display: block;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .analysisButton:hover {
    background-color: #1976D2;
    color: #ffffff !important;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .analysisButton:hover::after {
    transform: translateX(3px);
  }